.blue-bg {
    color: #FFFFFF;
    height: 100%;
}

.circle {
    font-weight: bold;
    font-size: 25px;
    height: 50px;
    width: 50px;
    padding: 5px;
    border-radius: 50%;
    background-color: transparent;
    background-image: linear-gradient(90deg, #6C00FF 0%, #F21994 100%);
    color: #FFFFFF;
    max-height: 50px;
    z-index: 2;
}

.how-it-works.row {
    display: flex;
}

    .how-it-works.row .col-2 {
        display: inline-flex;
        align-self: stretch;
        align-items: center;
        justify-content: center;
    }
    .how-it-works.row h5 {
        color:#ffffff;
        padding-bottom: 8px;
        border-bottom: solid 1px rgba(255,255,255,0.1);
    }
        .how-it-works.row .col-2::after {
            content: "";
            position: absolute;
            border-left: 3px solid #ED1898;
            z-index: 1;
        }

        .how-it-works.row .col-2.bottom::after {
            height: 50%;
            left: 50%;
            top: 50%;
        }

        .how-it-works.row .col-2.full-right::after {
            height: 100%;
            left: calc(50% - 3px);
        }

        .how-it-works.row .col-2.top::after {
            height: 50%;
            left: 50%;
            top: 0;
        }
    .how-it-works.row .col-2.full-left::after {
        height: 100%;
        left: calc(50%);
    }

.timeline div {
    padding: 0;
    height: 40px;
}

.timeline hr {
    border-top: 3px solid #ED1898;
    border-bottom: none;
    margin: 0;
    top: 17px;
    position: relative;    
}

.timeline .col-2 {
    display: flex;
    overflow: hidden;
}

.timeline .corner {
    border: 3px solid #ED1898;
    width: 100%;
    position: relative;
    border-radius: 15px;
}

.timeline .top-right {
    left: 50%;
    top: -50%;
}

.timeline .left-bottom {
    left: -50%;
    top: calc(50% - 3px);
}

.timeline .top-left {
    left: -50%;
    top: -50%;
}

.timeline .right-bottom {
    left: 50%;
    top: calc(50% - 3px);
}
